@model List<PruebasUnitarias.Models.ContactMessage>

@{
    ViewData["Title"] = "Contact Messages";
}

<h2>Contact Messages</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
                <tr>
                    <td>@message.Name</td>
                    <td>@message.Email</td>
                    <td>@message.Message</td>
                </tr>
        }
    </tbody>
</table>
